<h1>Contacts</h1>

<form method="POST" action="/contacts">
    <input type="text" name="name" placeholder="Add Contact Name">
    <input type="text" name="number" placeholder="Add Contact Number">
    <button type="submit" value="Submit">Add Contact</button>
</form>
<!-- <ul>
    {{#each contacts}}
    <li>{{name}} {{number}}</li>
    {{/each}}
</ul> -->
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        {{#each contacts}}
        <tr>
            <td>{{name}}</td>
            <td>{{number}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>